# Application
APP_NAME=nestjs-prisma-boilerplate
APP_ENV=dev
APP_PORT=5000
WORKER_PORT=5001

# Authentication - User
USER_SECRET=USER_SECRET
USER_TOKEN_EXPIRE_IN=1d
USER_REFRESH_SECRET=USER_REFRESH_SECRET
USER_REFRESH_TOKEN_EXPIRE_IN=7d

# Authentication - Admin
ADMIN_SECRET=ADMIN_SECRET
ADMIN_TOKEN_EXPIRE_IN=15m
ADMIN_REFRESH_SECRET=ADMIN_REFRESH_SECRET
ADMIN_REFRESH_TOKEN_EXPIRE_IN=7d

# Database
DATABASE_URL=

# Cache
CACHE_MODE=redis
CACHE_TTL=3600

# Queue
USE_QUEUE=true

# Redis
REDIS_MODE=single
REDIS_URL=redis://127.0.0.1:6379

# Logger
LOGGER=winston
LOGGER_MAX_FILES=30d
LOGGER_LEVEL=warn
LOGGER_DATABASE_URL=

# Upload
UPLOAD_FOLDER=upload
BODY_SIZE=10mb

# Swagger
SWAGGER_TITLE=Nest.js boilerplate
SWAGGER_DESCRIPTION=Nest.js boilerplate
SWAGGER_VERSION=1.0
SWAGGER_FAVICON=/assets/favicon.ico
SWAGGER_ENDPOINT=/api-docs
